.navbar-cont{
    background-color: #0244b6;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav{
    gap:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

.navbar-nav a{
    color: white;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
}

.navbar-nav a:hover{
    color: rgb(255, 255, 166);
}

.navbar-logo{
    height: 50%;
    margin-left: 50px;
}
.navbar-logo img{
    height: 100%;
}